.slds-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.spinner {
  display: flex;
  align-items: center;
}

/* Make warning icons more visible */
.lwc-datatable-cell {
  font-size: 14px;
}